## Importing dependies
- Then checking various things in the dataset
- Doing the train_test_split
- Using linear regression to the the model score on the specific dataset

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('https://github.com/ybifoundation/Dataset/raw/main/Admission%20Chance.csv')

In [3]:
df

,Serial No,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65
...,...,...,...,...,...,...,...,...,...
395,396,324,110,3,3.5,3.5,9.04,1,0.82
396,397,325,107,3,3.0,3.5,9.11,1,0.84
397,398,330,116,4,5.0,4.5,9.45,1,0.91
398,399,312,103,3,3.5,4.0,8.78,0,0.67
399,400,333,117,4,5.0,4.0,9.66,1,0.95

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Serial No          400 non-null    int64
 1   GRE Score          400 non-null    int64
 2   TOEFL Score        400 non-null    int64
 3   University Rating  400 non-null    int64
 4    SOP               400 non-null    float64
 5   LOR                400 non-null    float64
 6   CGPA               400 non-null    float64
 7   Research           400 non-null    int64
 8   Chance of Admit    400 non-null    float64
dtypes: float64(4), int64(5)
memory usage: 28.2 KB

In [6]:
df.isnull().sum()

Serial No            0
GRE Score            0
TOEFL Score          0
University Rating    0
 SOP                 0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
dtype: int64

In [8]:
df.describe()

,Serial No,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
count,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000
mean,200.500000,316.807500,107.410000,3.087500,3.400000,3.452500,8.598925,0.547500,0.724350
std,115.614301,11.473646,6.069514,1.143728,1.006869,0.898478,0.596317,0.498362,0.142609
min,1.000000,290.000000,92.000000,1.000000,1.000000,1.000000,6.800000,0.000000,0.340000
25%,100.750000,308.000000,103.000000,2.000000,2.500000,3.000000,8.170000,0.000000,0.640000
50%,200.500000,317.000000,107.000000,3.000000,3.500000,3.500000,8.610000,1.000000,0.730000
75%,300.250000,325.000000,112.000000,4.000000,4.000000,4.000000,9.062500,1.000000,0.830000
max,400.000000,340.000000,120.000000,5.000000,5.000000,5.000000,9.920000,1.000000,0.970000

In [9]:
df.columns

Index(['Serial No', 'GRE Score', 'TOEFL Score', 'University Rating', ' SOP',
       'LOR ', 'CGPA', 'Research', 'Chance of Admit '],
      dtype='object')

In [12]:
y = df['Chance of Admit ']

In [14]:
X = df.drop(['Serial No','Chance of Admit '],axis=1)

In [17]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,train_size = 0.2,random_state=2529)

In [18]:
X_train.shape, X_test.shape,y_train.shape,y_test.shape

((80, 7), (320, 7), (80,), (320,))

In [21]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [22]:
model.fit(X_train,y_train)

LinearRegression()

In [24]:
model.intercept_

-1.174879623744979

In [29]:
model.coef_

array([ 0.00226941, -0.00185351,  0.00083679, -0.00136259,  0.02192977,
        0.15262218,  0.00898032])

In [30]:
y_pred = model.predict(X_test)

In [31]:
y_pred

array([0.73181977, 0.73683927, 0.71987944, 0.70621253, 0.59532402,
       0.93156035, 0.9460236 , 0.7586047 , 0.81109468, 0.64897416,
       0.61352985, 0.80472068, 0.54475149, 0.81674792, 0.83425414,
       0.68198618, 0.66242457, 0.71955285, 0.75992689, 0.87196616,
       0.65462163, 0.85462379, 0.85965541, 0.94887923, 0.72507473,
       0.64539534, 0.68451098, 0.59924644, 0.57340612, 0.56669665,
       0.55294789, 0.75715149, 0.74365776, 0.79675505, 0.61260193,
       0.57551386, 0.46306905, 0.85288628, 0.88541511, 0.80589867,
       0.76475554, 0.73027224, 0.68755934, 0.87000038, 0.75198792,
       0.78730971, 0.98176019, 0.87765635, 0.62938903, 0.52197749,
       0.61637255, 0.64803327, 0.83491467, 0.47109308, 0.69895437,
       0.8076501 , 0.70407328, 0.65705394, 0.86756785, 0.66770345,
       0.65713335, 0.90774113, 0.63915117, 0.68551381, 0.75358083,
       0.68995295, 0.62091408, 0.94008722, 0.56981656, 0.90888222,
       0.61855963, 0.91510852, 0.61316979, 0.72876412, 0.56215009,
       0.8596    , 0.63635056, 0.75520199, 0.66623025, 0.80359203,
       0.69196976, 0.87973352, 0.70328766, 0.52785965, 0.76368006,
       0.65301166, 0.80946132, 0.55067347, 0.8277834 , 0.67205564,
       0.65075541, 0.72785345, 0.90513534, 0.7099385 , 0.65642665,
       0.64021493, 0.73372255, 0.68985768, 0.8094012 , 0.61920336,
       0.93153516, 0.70716318, 0.98222352, 0.83960325, 0.78150617,
       0.84692909, 0.66676637, 0.71436267, 0.66456758, 0.558825  ,
       0.80382259, 0.71980771, 0.82140161, 0.64063007, 0.56516267,
       0.77171762, 0.74883498, 0.62958869, 0.8537992 , 0.70172231,
       0.7618332 , 0.8167898 , 0.59182659, 0.7280399 , 0.72815218,
       0.54817274, 0.9451861 , 0.8540856 , 0.70158277, 0.74267172,
       0.66304415, 0.67335163, 0.64944348, 0.48590049, 0.81147667,
       0.66173808, 0.67524781, 0.59201417, 0.81504051, 0.85631476,
       0.60227402, 0.73436812, 0.64813666, 0.76945472, 0.6529676 ,
       0.77663967, 0.81722628, 0.74820783, 0.64842244, 0.91503698,
       0.66058328, 0.8393464 , 0.85692175, 0.76013983, 0.63890294,
       0.799164  , 0.78632725, 0.72686688, 0.84358251, 0.64425801,
       0.7567349 , 0.79812019, 0.83995187, 0.84826537, 0.7434674 ,
       0.80376236, 0.98326009, 0.81872579, 0.86194891, 0.64190445,
       0.70403161, 0.4844904 , 0.6396074 , 0.75740338, 0.73997019,
       0.99249898, 0.58599585, 0.79937422, 0.4943727 , 0.8629551 ,
       0.83549831, 0.73682756, 0.73607522, 0.92921276, 0.69845489,
       0.77092326, 0.69922479, 0.83574776, 0.64771208, 0.51791666,
       0.72772735, 0.74378484, 0.79198809, 0.84175891, 0.67652183,
       0.8350555 , 0.73643177, 0.65804826, 0.64022308, 0.5510158 ,
       0.86966841, 0.82590819, 0.78082512, 0.94712637, 0.8848997 ,
       0.98897461, 0.63800894, 0.55654723, 0.74990795, 0.63037249,
       0.83889636, 0.55215799, 0.74894568, 0.78229886, 0.77494205,
       0.64879331, 0.80395247, 0.67046805, 0.69420986, 0.89720326,
       0.54501747, 0.54510981, 0.70015535, 0.88315218, 0.59133395,
       0.60343881, 0.73946105, 0.67284275, 0.84637553, 0.6971289 ,
       0.79180575, 0.65253056, 0.77730245, 0.84476313, 0.73220243,
       0.82327944, 0.85303677, 0.90962262, 0.69819041, 0.69563807,
       0.62210419, 0.8724223 , 0.53724339, 0.98442384, 0.65916679,
       0.84295965, 0.56883486, 0.6260043 , 0.95794448, 0.75210189,
       0.83535406, 0.73404022, 0.67669745, 0.59982091, 0.79677937,
       0.6304529 , 0.70625876, 0.92536653, 0.69702657, 0.60732749,
       0.69998371, 0.74726353, 0.87956003, 0.95447963, 0.86627553,
       0.96765346, 0.7677461 , 0.49730592, 0.62071323, 0.65523531,
       0.74072042, 0.67414582, 0.86266096, 0.58235386, 0.54212121,
       0.78311303, 0.95876992, 0.97913863, 0.94800411, 0.67180745,
       0.70739743, 0.8474386 , 0.89588941, 0.67260141, 0.66862437,
       0.95925142, 0.8060599 , 0.5615094 , 0.66003488, 0.73087694,
       0.72326285, 0.61347299, 0.52104902, 0.86643658, 0.58755227,
       0.65200914, 0.70365112, 0.90549469, 0.9211806 , 0.69839321,
       0.60396317, 0.94723796, 0.72275012, 0.78007043, 0.64221675,
       0.80949451, 0.63714065, 0.56541929, 0.51396278, 0.76104591,
       0.55125484, 0.71685355, 0.4947107 , 0.73676277, 0.72813251,
       0.85918319, 0.8105361 , 0.49879601, 0.7488293 , 0.79641068])

In [32]:
from sklearn.metrics import mean_absolute_error, mean_absolute_percentage_error, mean_squared_error, r2_score

In [34]:
mean_absolute_error(y_test,y_pred)

0.04888864807409543

In [35]:
mean_absolute_percentage_error(y_test,y_pred)

0.0814022821302939

In [36]:
mean_squared_error(y_test,y_pred)

0.004848556366255484

In [37]:
r2_score(y_test,y_pred)

0.765873950722899

### Thus, the accuracy of the model is 76% using the Linear Regression.